<ion-view ng-controller="starterCtrl">
   <ion-nav-bar class="no-border bar-light" align-title="center">
    <ion-nav-buttons  side="left">
      <button  class="button button-clear ion-android-menu clear button-icon icon" ng-click="popover.show($event) ; flagchange1();">
      </button>
    </ion-nav-buttons>

    <ion-nav-title>
     <img src="img/Logo.png" style="vertical-align:middle" height="90%">
   </ion-nav-title>
    <ion-nav-buttons  side="right">
      <button class="button button-clear ion-ios-search-strong clear button-icon icon"style="margin-right:10px"></button>
    </ion-nav-buttons>
   </ion-nav-bar>

  <ion-content>
    <h3 style="text-align: center" class="parShant">Tv Series</h3>

    <ion-scroll class="horizontall" direction="x" scrollbar-x="false">
      <div class="pics" ng-repeat = "armySerial in army">
       <a  ui-sref="video({ id: armySerial.resourceId.videoId })"> <img ng-src="{{armySerial.thumbnails.high.url}}"></a>
        <p class = "thumbTitle">{{armySerial.title}}</p>
      </div>
    </ion-scroll>

    <ion-scroll class="horizontall" direction="x" scrollbar-x="false">
      <div class="pics" ng-repeat = "healthSerial in health">
        <a  ui-sref="video({ id: healthSerial.resourceId.videoId })"> <img ng-src="{{healthSerial.thumbnails.high.url}}"></a>
        <p class = "thumbTitle">{{healthSerial.title}}</p>
      </div>
    </ion-scroll>

  </ion-content>
 </ion-view>

