<ion-view ng-controller="starterCtrl">
  <ion-nav-bar class="no-border bar-light" align-title="center">
    <ion-nav-buttons  side="left">
      <button  class="button button-clear ion-android-menu clear button-icon icon"">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
      <img src="img/Logo.png" style="vertical-align:middle" height="90%">
    </ion-nav-title>
    <ion-nav-buttons  side="right">

      <button class="button button-clear ion-ios-search-strong clear button-icon icon"style="margin-right:10px"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>

    <div class="video-container">
      <iframe ng-src="{{currVideo}}" frameborder="0" width="560" height="315" allowfullscreen></iframe>
    </div>
  </ion-content>
  </ion-view>
